.details {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.12);
  border-radius: 16px;
  padding: 24px;
}

.details_header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.header_title {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.3px;
}

.header_editButton {
  width: 71px;
  height: 28px;
  font-weight: 600;
  font-size: 11px;
  line-height: 20px;
  letter-spacing: 0.48px;
}

.buttons_edit {
  display: flex;
  gap: 12px;
}

.header_saveButton,
.header_cancelButton {
  height: 28px;
}

.header_saveButton {
  width: 133px;
  font-weight: 600;
  font-size: 11px;
  line-height: 20px;
  letter-spacing: 0.48px;
  text-align: center;
  vertical-align: middle;
}


.header_cancelButton{
  width: 91px;
  font-size: 11px;
}


