.input {
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.3px;
  vertical-align: middle;
  box-sizing: border-box;
}

.input:hover {
  border-color: rgba(0, 0, 0, 0.5);
}

.input:focus {
  outline: 2px solid rgba(53, 205, 253, 1); 
  border-color: rgba(53, 205, 253, 1); 
}
