@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.root_container{
  display: flex;
  min-height: 100vh;
  width: 100%;
}

.main{
  min-height: 100%;
  width: 100%;
}


.home{
  width: 100%;
  min-height: 100%;
  display: flex; 
}

.react-datepicker__day--selected,
.react-datepicker__day--selected:hover {
  background-color: rgba(53, 205, 253, 1) !important;
  color: white !important;
}

