.btn-filled,.btn-outline {
  position: relative;
  color: white;
  border: none;
  padding: 10px 12px;
  background-color: #3b3b3b;
  width: 100%;
  display: flex;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.48px;
  vertical-align: middle;
}

.btn-filled svg, .btn-outline svg {
  position: absolute;
  left: 12px;
}


.btn-filled:hover {
  background-color: #595959;
}

.btn-filled:active {
  background-color: #808080;
}

.btn-outline {
  border: 1px solid #00000066;
  width: 100%;
  background-color: transparent;
  color: #3b3b3b;
}


.btn-outline:hover,
.btn-flattened:hover {
  color: #6d4aff;
  fill: #6d4aff;
}

.btn-outline:active,
.btn-flattened:active {
  color: #6d4aff;
  border-color: #6d4aff;
}

.btn-icon {
  color: white;
  display: flex;
  border: 0px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.btn-icon:hover {
  background-color: #3b3b3b;
}

.btn-icon:active {
  background-color: #9981ff;
}
