.btn-filled,
.btn-outline {
  position: relative;
  color: white;
  border: none;
  padding: 10px 12px;
  background-color: #3b3b3b;
  width: 100%;
  display: flex;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.48px;
  text-align: center;
}

.btn-filled svg,
.btn-outline svg {
  flex-shrink: 0;
}

.btn-filled span,
.btn-outline span {
  flex-grow: 1;
  text-align: center;
}

.btn-filled:hover {
  background-color: #595959;
  transition: background-color 0.25s ease;
}

.btn-filled:active {
  background-color: #808080;
}

.btn-outline {
  position: relative;
  border: 1px solid #00000066;
  width: 100%;
  background-color: transparent;
  color: #3b3b3b;
}

.btn-outline:hover {
  color: #6d4aff;
  fill: #6d4aff;
  transition: color 0.25s ease, fill 0.25s ease;
}

.btn-outline:active {
  color: #6d4aff;
  border-color: #6d4aff;
}

.btn-icon {
  color: black;
  display: flex;
  border: 0;
  padding: 6px;
  justify-content: center;
  background: transparent;
  align-items: center;
  border-radius: 50%;
}

.btn-icon:hover {
  background-color: rgba(59, 59, 59, 0.05);
  transition: background-color 0.25s ease;
}

.btn-icon:active {
  background-color: rgba(153, 129, 255, 1);
}


.btn-filled span,
.btn-outline span,
.btn-icon span {
  white-space: nowrap; 
}
